{% extends 'base.html.twig' %}

{% block title %}
    Contact - {{ parent() }}
{% endblock title %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock header %}
    

    <div class="container">
        <div class="row justify-content-center" id="form">
            <div class="form-group col-sm-5" id="form_shadow_contact">
                <div class="col-sm-12 col-lg-12">
                    <h3 class="text-center">Laissez-nous votre message, nous vous répondrons dans les plus brefs délais</h3>
                    <div class="form-group">
                        <form class="form-horizontal" role="form" method="POST" action="{{ path('contact') }}">

                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <div class="form-group col-sm-12">
                                <div class="row col-sm-12  justify-content-center" >
                                    
                                    <button type="reset" class="btn btn-warning">Effacer</button>
                                    <button type="submit" class="btn btn-success">Envoyer votre message</button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                    {{ form_end(form) }}

                                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    <h1>{{ message }}</h1>
                    <div class="row justify-content-center">
                        <a href="{{ path('home') }}" title="Retour à l'accueil" id="return_home">Retour à l'accueil</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}

