{% extends 'base.html.twig' %}

{% block title %}
    Membres - {{ parent() }}
{% endblock title %}

{% block stylesheets %}
{{ parent() }}
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.1/mapquest.css"/>
{% endblock stylesheets %}

{% block body %}

{% block header %}
    {{ parent() }}
{% endblock header %}

{# Ici la carte #}
<div class="container-fluid">
    <div class="col align-self-center"></div>
        <h2 id="title_map" class="row justify-content-center">
            Membres actifs
        </h2>
    </div>
    <div id="map"></div>
</div>
<div id="addresses">
        <ul>
            {% for adresse in addresses %}
            <li class="address">{{ adresse.username|capitalize }}, {{ adresse.address }}</li>
            {% endfor %}
        </ul>
    </div>

    
    
    {% block javascripts %}
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.1/mapquest.js" async></script>
    <script src="{{ asset('js/Map.js') }}"></script>
    {#<script>
        window.addEventListener('load', () => {const map = new Map()});
    </script>#}
    {% endblock javascripts %}



{% endblock %}
