{% extends 'base.html.twig' %}

{% block title %}
    Membres - {{ parent() }}
{% endblock title %}

{% block stylesheets %}
{{ parent() }}
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.1/mapquest.css"/>
{% endblock stylesheets %}

{% block body %}

{% block header %}
    {{ parent() }}
{% endblock header %}

{# Ici la carte #}
<div class="container-fluid">
    <div class="col align-self-center"></div>
        <h2 id="title_map" class="row justify-content-center">
            Membres actifs
        </h2>
    </div>
    <div id="map"></div>
</div>
<div id="addresses">
    <ul>
        {% for adresse in addresses %}
        <li class="address"><span id="address_user">{{ adresse.username }}</span> <span id="address_lat">{{ adresse.lat }}</span>  <span id="address_lng">{{ adresse.lng }}</span></li>
        {% endfor %}
    </ul>
</div>

    
    
    {% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
    integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
    crossorigin=""></script>
    <script type = "text/javascript" src = "http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>  
    {#<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.1/mapquest.js" async></script>#}
    <script src="{{ asset('js/Map.js') }}"></script>
    {#<script>
        window.addEventListener('load', () => {const mapMember = new Marker()});
    </script>#}
    {#<script>
        window.addEventListener('load', () => {const map = new Map()});
    </script>#}
    {% endblock javascripts %}



{% endblock %}
