{% extends 'base.html.twig' %}

{% block title %}Création annonce - {{ parent()}}{% endblock title %}

{% block stylesheets %}  
<link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
{{ parent()}} 
{% endblock stylesheets %}

{% block body %}
{% block header %} {{ parent() }} {% endblock header %}
<div class="container">
    <div class="row justify-content-center"> 
        
        <h1>Modification de l'annonce</h1>
    
        <div class="col-sm-12 col-lg-12 ">
    

            {{ include('Backend/adverts/_form.html.twig', {'button_label': 'Modification'}) }}

            <div class="row justify-content-center"> 
                <a href="{{ path('adverts_index') }}">Retour à la liste des annonces</a>
            </div>
            <div class="row justify-content-center">
                {{ include('Backend/adverts/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock body %}