{% extends 'base.html.twig' %}

{% block title %}Annonces - {{ parent() }}{% endblock %}

{% block stylesheets %}  {{ parent() }} {% endblock stylesheets %}

{% block body %}
{% block header %} {{ parent() }} {% endblock header %}
<div class="container">  
    <h1>Liste de vos annonces</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N° de l'annonce</th>
                <th>Titre</th>
                <th>Descriptif</th>
                <th>Prix</th>
                <th>Date de publication</th>
                <th>Ville</th>
                
                <th>Image</th>
               
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advert in adverts %}
            <tr>
                <td>{{ advert.idAdvert }}</td>
                <td>{{ advert.title }}</td>
                <td>{{ advert.content }}</td>
                <td>{{ advert.price }} <i class="fas fa-euro-sign fa-sm" style="color: #6c6a6e"></i></td>
                <td>{{ advert.dateAdverts ? advert.dateAdverts|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ advert.town|capitalize }}</td>
                <td>{{ advert.picturesAdverts }}</td>
                <td>
                    <a href="{{ path('adverts_show', {'idAdvert': advert.idAdvert}) }}" title="Cliquez sur l'icône pour accéder au détail de l'annonce"><i class="far fa-eye fa-lg" id="icon_show"></i></a>
                    <a href="{{ path('adverts_edit', {'advert': advert.idAdvert}) }}" title="Cliquez sur l'icône pour modifier l'annonce"><i class="far fa-edit fa-lg" id="icon_edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Vous n'avez pas encore publié d'annnonces...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <a href="{{ path('adverts_new') }}"><span class="fa-layers fa-fw fa-3x" id="icon_new"><i class="fas fa-leaf" id="icon_file"></i><i class="fas fa-plus-circle fa-xs" id="icon_plus"></i></span>  Créer une nouvelle annonce</a>
    </div>
</div>  
{% endblock body %}