{% extends 'base.html.twig' %}

{% block title %}Annonces - {{ parent() }}{% endblock %}

{% block stylesheets %}  {{ parent() }} {% endblock stylesheets %}

{% block body %}
{% block header %} {{ parent() }} {% endblock header %}
<div class="container">  
    <h1>Liste de vos annonces</h1>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>N° de l'annonce</th>
                    <th>Titre</th>
                    <th>Descriptif</th>
                    <th>Prix</th>
                    <th>Date de publication</th>
                    <th>Ville</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for advert in adverts %}
                <tr>
                    <td>{{ advert.idAdvert }}</td>
                    <td>{{ advert.title }}</td>
                    <td>{{ advert.content }}</td>
                    <td>{{ advert.price }} <i class="fas fa-euro-sign fa-sm" id="euro_sign"></i></td>
                    <td>{{ advert.dateAdverts ? advert.dateAdverts|date_modify("+0 hours")|date('d/m/Y H:i:s') : '' }}</td>
                    <td>{{ advert.town|capitalize }}</td>
                    {% if advert.picturesAdverts %}
                    <td>
                        <a href="{{ path('adverts_show', {'idAdvert': advert.idAdvert}) }}" title="Cliquez sur l'icône pour accéder au détail de l'annonce">
                            <img src="{{ asset('img/advert/' ~ advert.picturesAdverts) }}" alt="Ici la photo de l'annonce"  id="picture_advert">
                        </a>
                    </td>
                    {% else %}
                    <td><em>Pas de photos</em></td>
                    {% endif %}
                    <td>
                        <a href="{{ path('adverts_show', {'idAdvert': advert.idAdvert}) }}" title="Cliquez sur l'icône pour accéder au détail de l'annonce"><i class="far fa-eye fa-lg" id="icon_show"></i></a>
                        <a href="{{ path('adverts_edit', {'advert': advert.idAdvert}) }}" title="Cliquez sur l'icône pour modifier l'annonce"><i class="far fa-edit fa-lg" id="icon_edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Vous n'avez pas encore publié d'annnonces...</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <a href="{{ path('adverts_new') }}"><span class="fa-layers fa-fw fa-3x" id="icon_new"><i class="fas fa-leaf" id="icon_file"></i><i class="fas fa-plus-circle fa-xs" id="icon_plus"></i></span>  Créer une nouvelle annonce</a>
    </div>
    <h1>Liste de vos messages</h1>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nom du membre</th>
                    <th>Message</th>
                    <th>Date du message</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                
                {% for comment in comments %}
                    {# Ici n'afficher que les messages pour le membre connecté #}
                    {% if comment.adverts.usernameMember == app.user.username %}
                        <tr>
                            <td>{{ comment.name }}</td>
                            <td>{{ comment.commentary }}</td>
                            <td>Le {{ comment.dateComment|date_modify("+0 hours")|date('d/m/Y à H:i')}}</td>
                            <td>
                                
                                <a href="{{ path('comment_reply', {'id': comment.id}) }}" title="Cliquez sur l'icône pour répondre au message"><i class="fas fa-reply fa-lg" id="icon_show"></i></a>
                                <a href="{{ path('comment_delete', {'id': comment.id}) }}" title="Cliquez sur l'icône pour supprimer le message"  data-toggle="modal" data-target="#myModal" class="lien_id"><i class="fas fa-times-circle fa-lg" id="icon_delete" ></i></a>
                                                            
                            </td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="7">Vous n'avez pas encore de message...</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    {# Fenêtre modale Bootstrap pour confirmer la suppression du message #}
    <div class="col-sm-12">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Confirmation suppression du message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Vous êtes sur le point de supprimer un message.</p>
                        <p>Souhaitez-vous valider la suppression de ce message ?</p>
                        <p>Attention: action irréversible</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Non, je sors</button>
                        <a class="btn btn-danger" href="#" role="button" class="btn btn-danger" id="confirm">Oui, je confirme la suppression</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div> 
{% block javascripts %}
<script src="{{ asset('js/Modal.js') }}"></script>
{% endblock javascripts %}
{% endblock body %}