{% extends 'base.html.twig' %}

{% block title %}
    Connexion - {{ parent() }}
{% endblock title %}

{% block body %}
    <div class="container">
        {% block header %}
            {{ parent() }}
        {% endblock header %}
       
        <div class="row">
                <div class="col-xs-12">
                    <h1>Login!</h1>
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate':'novalidate'}}) }}
                        {{ form_row(form.username_login) }}
                        {{ form_row(form.password) }}
                        <button type="submit" class="btn btn-success">Login <span class="fa fa-lock"></span></button>
                    {{ form_end(form) }}
               
                </div>
            </div>
              
       
        
    </div>
{% endblock body %}

