{% extends 'base.html.twig' %}

{% block title %}
    Inscription - {{ parent() }}
{% endblock title %}

{% block stylesheets %}
{{ parent() }}
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.1/mapquest.css"/>
{% endblock stylesheets %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock header %}

    <div class="container" >
        <form class="form-horizontal" role="form" method="POST" action="{{ path('inscription') }}" id="form_register" name="form_register">
            <div class="row justify-content-center">
                <div class="form-group col-sm-6 col-lg-6" id="form_shadow_register">
                    <div class="col-sm-12 col-lg-12 ">
                        <h3 class="text-center">Formulaire d'inscription</h3>

                        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate':'novalidate'}}) }}
                  
                        <div class="form-group">
                            <div class="row">
                                <div class="col col-sm-6">
                                    {{ form_label(form.firstname, 'Votre prénom :', {'attr': {'class': 'form-control'}}) }}
                                    {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Votre prénom'}}) }}
                                </div>
                           
                                <div class="col col-sm-6">
                                    {{ form_label(form.lastname, 'Votre nom :', {'attr': {'class': 'form-control'}}) }}
                                    {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Votre nom'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ form_label(form.username, 'Votre pseudonyme :', {'attr': {'class': 'form-control'}}) }}
                                    {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Votre pseudo'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ form_label(form.mail, 'Votre email :', {'attr': {'class': 'form-control'}}) }}
                                    {{ form_widget(form.mail, {'attr': {'class': 'form-control', 'placeholder': 'Votre email'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">   
                                <div class="col col-sm-6">
                                    {{ form_label(form.password.first, 'Votre mot de passe :', {'attr': {'class': 'form-control'}}) }}
                                    {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'Votre mot de passe'}}) }}
                                </div>
                                <div class="col col-sm-6">
                                    {{ form_label(form.password.second, 'Répétez votre mot de passe :', {'attr': {'class': 'form-control'}}) }}
                                    {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Retapez votre mot de passe'}}) }}
                                    {{ form_errors(form) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ form_label(form.locations, 'Votre adresse :', {'attr': {'class': 'form-control'}}) }}
                                    {{ form_widget(form.locations, {'attr': {'class': 'form-control', 'placeholder': 'Ex : N° et nom de rue, Nom de votre ville'}}) }}
                                </div>
                            </div>
                        </div>
                        
                        {#{{ form_row(form.image) }}#}
                        <div class="form-group">
                            <div class="row col-sm-12  justify-content-center">
                                <button type="submit" class="btn btn-primary" id="btn_submit_register"><span style="color: white" class="fas fa-check fa-2x"></span>Validez votre inscription </button>
                            </div>
                        </div>
                        {# Champs input pour y placer les lat et lng de l'adresse géocodée #}
                        {{ form_widget(form.lat)}}
                        {{ form_widget(form.lng)}}

                        {# Fermeture de la balise <form> du formulaire HTML #}
                        {{ form_end(form) }}
                        
                    </div>
                </div>
            </div>
        </form>
        {# Message de confirmation d'inscription #}
        <div class="container">
            <div class="row justify-content-center">
                {% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                        <h1>{{ message }}</h1>
                        <div class="row justify-content-center">
                            <a href="{{ path('security_login') }}" title="Connexion" id="return_home">Allez vous connecter</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% block javascripts %}
        <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.1/mapquest.js"></script>
        <script src="{{ asset('js/Geocoding.js') }}"></script>
        {% endblock javascripts %}
    

{% endblock body %}