{% extends 'base.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock title %}

{% block body  %}
    
        {% block header %}
            {{ parent() }}
        {% endblock header %}

        {# Titre personnalisé #}
        <div class="title_home_pimped">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="text-center" id="title_homepage_pimped">
                    <h1 class="title_name_pimped">Bienvenu "{{ app.user.username|title }}"</h1>
                </div>
            {% else %}
            <div class="text-center" id="title_homepage_gaia_pimped">
                <h1 class="title_gaia_pimped">GAIA</h1>
            </div>
            {% endif %}
        </div>

        <div id="slider">
            <div id="pictures_homepage">
                <div id="page_accueil1" >

                    
                    <img src="./img/verdurebis.jpg" alt="Image en rotation 1" />

                </div>
                <div id="page_accueil2" >
                    <img src="./img/jardinage3bis.jpg" alt="Image en rotation 2" />

                </div>
            </div>
        </div>
        {# Liens affichés sous forme de liste listant les principales villes des membres #}
        <div class="container" id="list_towns">
            <div id="cities" class="row">
                <div class="col align-self-center">
                    <h2 id="title_cities" class="row justify-content-center">
                        Villes principales
                    </h2>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="list_cities">
                            <li><a class="nav-link" href="{{ path('adverts')}}">Paris</a></li>
                            <li><a class="nav-link" href="{{ path('adverts')}}">Saint-Germain-En-Laye</a></li>
                            <li><a class="nav-link" href="{{ path('adverts')}}">Poissy</a></li>
                            <li><a class="nav-link" href="{{ path('adverts')}}">Marly Le Roi</a></li>
                            <li><a class="nav-link" href="{{ path('adverts')}}">Le Vésinet</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list_cities">
                            <li><a class="nav-link" href="{{ path('adverts')}}">Paris</a></li>
                            <li><a class="nav-link" href="{{ path('adverts')}}">Saint-Germain-En-Laye</a></li>
                            <li><a class="nav-link" href="{{ path('adverts')}}">Poissy</a></li>
                            <li><a class="nav-link" href="{{ path('adverts')}}">Marly Le Roi</a></li>
                            <li><a class="nav-link" href="{{ path('adverts')}}">Le Vésinet</a></li>
                        </ul>
                    </div>
                        <div class="col">
                            <ul class="list_cities">
                                <li><a class="nav-link" href="{{ path('adverts')}}">Paris</a></li>
                                <li><a class="nav-link" href="{{ path('adverts')}}">Saint-Germain-En-Laye</a></li>
                                <li><a class="nav-link" href="{{ path('adverts')}}">Poissy</a></li>
                                <li><a class="nav-link" href="{{ path('adverts')}}">Marly Le Roi</a></li>
                                <li><a class="nav-link" href="{{ path('adverts')}}">Le Vésinet</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

           {# <div class="col-xs-12" id="slider">
                <div class="row justify-content-center">
                    <h3 id="title_slider">Les différentes étapes</h3>
                </div>
                <div class="row justify-content-center" id="slide">
                    <img src="{{ asset('img/jardinage3.jpg') }}" alt="Les différentes étapes pour découvrir GAIA" id="imageSlider" class="img-fluid " />
                </div>
                <div class="row justify-content-center" id="boutons">
                    <button type="button" class="btn btn-info btn-sm" id="prev">Prev</button>
                    <button type="button" class="btn btn-info btn-sm" id="next">Next</button>
                </div>
            </div>
        </div>#}
        {% block javascripts %}
            {#<script src="{{ asset('slider.js') }}"></script>#}
            
        {% endblock javascripts %}
    
{% endblock body %}