<!DOCTYPE html>
<html>
    {% block head%}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}GAIA{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="Gaia" >
        <meta property="og:description" content="Communauté des jaridiniers en herbes, Site d'échanges et de partages" >
        <meta property="og:type" content="website" >
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/feuille2ico.ico') }}" >
        <link rel="icon" type="image/png" href="{{ asset('img/feuille2ico.ico') }}" >
        
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" media="screen" href="main.css" />

        {% endblock stylesheets %}

    </head>
    {% endblock head %}
    {% block body %}
        <body>
        
        {% block header %}
        <header>
            <nav class="navbar navbar">
            
                <div class="col" id="logo_name_text">
                    <div class="col">
                        <p><img src="{{ asset('img/logo.png') }}" alt="image d'un tournesol" id="logo"></p>
                    </div>
                
                    <div class="col">
                        <p class="logo_name"><strong class="nameGaia">GAIA</strong></p><p class="logo_name"><em> le site d'échanges et de partages des jardiniers</em></p>
                    </div>
                </div>
                
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('home') }}" title="Cliquez ici pour retourner à l'accueil">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('inscription') }}" title="Cliquez ici pour vous enregistrer">Inscription</a>
                    </li>
                    <li class="nav-item">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <a class="nav-link" href="{{ path('security_logout') }}" title="Cliquez ici pour vous déconnecter">Logout</a>
                        {% else %}
                            <a class="nav-link" href="{{ path('security_login') }}" title="Cliquez ici pour vous connecter">Login</a>
                        {% endif %}
                    </li>
                </ul>
                
            </nav>
        </header>
        {% endblock header %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
            
        {% endblock javascripts %}

        {% endblock body %}
    </body>
        
</html>
